venv
secrets/secrets.txt
__pycache__
data_exploration.ipynb
messy_market_data.csv
storage/data/capital_com/processed/testing.csv
storage/data/capital_com/processed/testing2.csv
storage/data/capital_com/processed/testing22.csv
storage/data_engineering_stats/fe_selection